body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.signup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    max-width: 400px;
    width: 100%;
}

.form-title {
    text-align: center;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none; /* Add this line to remove underline */
    color: #fff;
    background: #fe0007;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #a70006;
    text-decoration: none; /* Add this line to remove underline on hover */
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .signup-content {
        flex-direction: column;
    }

    .signup-form {
        max-width: none;
    }

    .btn {
        margin-right: 0;
    }
}
